.navigation
{
    position: absolute;
    top:70%;
    width: 1000px;
}
.nextdiv
{
position: absolute;
right:20%;
bottom:10%;
}
.previousdiv
{
position: relative;
left:18%;
}
.welcome
{
    font-size: xx-large !important;
}

@media  screen and (max-width:500px){
    .navigation{
        width: 250px;
        position: absolute;
        top:90%;
    }
    .nextdiv
    {
    position: absolute;
    bottom:0.5%;
    }

}
